@font-face {
    font-family: 'HelveticaNeueCyrUltraLight';
    src: url('../fonts/HelveticaNeueCyrUltraLight.eot');
    src: url('../fonts/HelveticaNeueCyrUltraLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyrUltraLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyrUltraLight.woff') format('woff'),
         url('../fonts/HelveticaNeueCyrUltraLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyrUltraLight.svg#HelveticaNeueCyrUltraLight') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica.eot');
    src: url('../fonts/helvetica.eot') format('embedded-opentype'),
         url('../fonts/helvetica.woff2') format('woff2'),
         url('../fonts/helvetica.woff') format('woff'),
         url('../fonts/helvetica.ttf') format('truetype'),
         url('../fonts/helvetica.svg#helvetica') format('svg');
}

@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaBold.woff2') format('woff2'),
         url('../fonts/HelveticaBold.woff') format('woff'),
         url('../fonts/HelveticaBold.ttf') format('truetype'),
         url('../fonts/HelveticaBold.svg#HelveticaBold') format('svg');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('../fonts/OpenSansLight.eot');
    src: url('../fonts/OpenSansLight.eot') format('embedded-opentype'),
         url('../fonts/OpenSansLight.woff2') format('woff2'),
         url('../fonts/OpenSansLight.woff') format('woff'),
         url('../fonts/OpenSansLight.ttf') format('truetype'),
         url('../fonts/OpenSansLight.svg#OpenSansLight') format('svg');
}

@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/OpenSansRegular.eot');
    src: url('../fonts/OpenSansRegular.eot') format('embedded-opentype'),
         url('../fonts/OpenSansRegular.woff2') format('woff2'),
         url('../fonts/OpenSansRegular.woff') format('woff'),
         url('../fonts/OpenSansRegular.ttf') format('truetype'),
         url('../fonts/OpenSansRegular.svg#OpenSansRegular') format('svg');
}

@font-face {
    font-family: 'OpenSansSemiBold';
    src: url('../fonts/OpenSansSemiBold.eot');
    src: url('../fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
         url('../fonts/OpenSansSemiBold.woff') format('woff'),
         url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
         url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/OpenSansBold.eot');
    src: url('../fonts/OpenSansBold.eot') format('embedded-opentype'),
         url('../fonts/OpenSansBold.woff2') format('woff2'),
         url('../fonts/OpenSansBold.woff') format('woff'),
         url('../fonts/OpenSansBold.ttf') format('truetype'),
         url('../fonts/OpenSansBold.svg#OpenSansBold') format('svg');
}