@font-face {
    font-family: 'HelveticaNeueCyrUltraLight';
    src: url('../fonts/HelveticaNeueCyrUltraLight.eot');
    src: url('../fonts/HelveticaNeueCyrUltraLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueCyrUltraLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueCyrUltraLight.woff') format('woff'),
         url('../fonts/HelveticaNeueCyrUltraLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueCyrUltraLight.svg#HelveticaNeueCyrUltraLight') format('svg');
}

@font-face {
    font-family: 'HelveticaNeueLight';
    src: url('../fonts/HelveticaNeueLight.eot');
    src: url('../fonts/HelveticaNeueLight.eot') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLight.woff2') format('woff2'),
         url('../fonts/HelveticaNeueLight.woff') format('woff'),
         url('../fonts/HelveticaNeueLight.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLight.svg#HelveticaNeueLight') format('svg');
}