body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
a {
  text-decoration: none;
}
.container {
  width: 950px;
  margin: auto;
}
.basic {
  width: 100%;
  min-width: 950px;
}
.top-panel {
  width: 100%;
  min-width: 950px;
  height: 35px;
  background-color: #3c9bd3;
  font-weight: 600;
  font-size: 12px;
}
.top-panel .left-list {
  float: left;
}
.top-panel .left-list li {
  float: left;
  height: 35px;
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 15px;
  font-size: 12px;
  line-height: 35px;
  cursor: pointer;
}
.top-panel .left-list li a {
  color: white;
}
.top-panel .left-list li.active {
  background-color: white;
}
.top-panel .left-list li.active a {
  color: #3c9bd3;
}
.top-panel .right-list {
  float: right;
}
.top-panel .right-list li {
  float: left;
  padding-left: 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 35px;
}
.top-panel .right-list li a,
.top-panel .right-list li span {
  color: white;
}
.top-panel .right-list li.active {
  background-color: white;
}
.top-panel .right-list li.active a {
  color: #3c9bd3;
}
.top-panel .right-list li .cabinet {
  border-bottom: 1px solid #b0d1ea;
}
.three-buttons {
  padding-top: 10px;
  font-size: 12px;
  font-weight: 600;
}
.btn-block {
  display: inline-block;
  position: relative;
  float: left;
  left: 50%;
}
.btn-pos {
  float: right;
  right: 50%;
  position: relative;
  border: 2px solid #3c9bd3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url(border-radius.htc);
}
.var-check {
  float: left;
}
.var-check label {
  cursor: pointer;
  padding: 0 15px;
  height: 30px;
  display: block;
  line-height: 30px;
  color: #3c9bd3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.var-check label.active {
  background-color: #3c9bd3;
  color: white;
}
.from-whence {
  float: left;
  width: 220px;
}
.where {
  float: left;
  width: 220px;
  margin-left: 20px;
}
.date {
  float: left;
  width: 140px;
  margin-left: 20px;
}
.input-block {
  position: relative;
  margin-top: 20px;
}
.input-block input[type="text"] {
  outline: 0;
  width: 100%;
  height: 35px;
  border: 2px solid #eeeeee;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  behavior: url(border-radius.htc);
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding-left: 25px;
  line-height: 31px;
}
.air-top {
  background: url(../images/air-top.png) no-repeat;
  background-position: 5px;
}
.date-input-css {
  position: relative;
  padding-left: 10px !important;
}
.date-input-css:focus {
  border-bottom-color: white !important;
  z-index: 4;
}
.date-input-css:focus + .cal-icon {
  z-index: 5;
}
.air-bot {
  background: url(../images/air-bot.png) no-repeat;
  background-position: 5px;
}
.search {
  position: absolute;
  width: 27px;
  height: 27px;
  cursor: pointer;
  outline: 0;
  border: 0;
  background: url(../images/search.png) no-repeat;
  z-index: 2;
  right: 4px;
  top: 28px;
}
.p-title {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 14px;
}
.cal-icon {
  display: block;
  position: absolute;
  z-index: 2;
  width: 27px;
  height: 27px;
  background: url(../images/caliocn.png) no-repeat;
  right: 4px;
  top: 28px;
}
.time-air {
  float: right;
  width: 300px;
}
.for-slider-input {
  margin-top: 20px;
  text-align: center;
  position: relative;
}
.for-slider-input input[type="text"] {
  border: 0;
  outline: 0;
  display: inline-block;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  display: block;
}
.for-slider-input span {
  font-size: 12px;
  color: black;
}
.for-slider-input .p-title {
  text-align: left;
}
.input-clock {
  background: url(../images/clock.png) no-repeat;
  background-position: 53px;
  width: 210px;
  text-align: center;
  padding-left: 0;
}
.slider-block {
  margin-top: 10px;
}
.ui-slider {
  float: left;
  width: 220px;
}
.slider-icons {
  display: inline-block;
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: -4px;
}
.select-wrapper {
  margin-left: -20px;
  margin-top: 20px;
}
.select-block {
  float: left;
  margin-left: 20px;
}
.select-block .title {
  margin-bottom: 10px;
  line-height: 1.1;
}
.select-block .large-p {
  font-weight: 300;
  font-size: 14px;
  color: #333333;
}
.select-block .medium-p {
  font-weight: 300;
  font-size: 12px;
  color: #9a9a9a;
}
.slc-check {
  width: 220px;
}
.checkboxes {
  float: left;
  padding-top: 29px;
}
.checkboxes .check {
  float: left;
  margin-left: 20px;
  font-size: 12px;
  color: #575757;
  font-family: 'Helvetica';
}
.check input[type=checkbox] {
  position: absolute;
  left: -10000px;
}
.check {
  background-image: url(../images/checkbox.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
  padding-left: 25px;
  height: 25px;
  padding-top: 11px;
  cursor: pointer;
  position: relative;
}
.check.active {
  background-image: url(../images/checkbox-active.png);
  background-repeat: no-repeat;
  background-position: 0 4px;
}
.save-btn {
  width: 100%;
  min-width: 950px;
  margin-top: 28px;
  border-top: 1px solid #eeeeee;
  padding-top: 10px;
}
.save-input {
  float: right;
  width: 165px;
  height: 35px;
  display: block;
  outline: 0;
  background-color: transparent;
  border: 2px solid #3c9bd3;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #3c9bd3;
  font-size: 12px;
  margin-right: 10px;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(border-radius.htc);
}
.save-input:hover {
  background-color: #3c9bd3;
  color: white;
}
.continue-input {
  float: right;
  width: 165px;
  height: 35px;
  display: block;
  outline: 0;
  background-color: #edaa1a;
  border: 2px solid #edaa1a;
  cursor: pointer;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  background-image: url(../images/next.png);
  background-repeat: no-repeat;
  background-position: 82%;
  padding-right: 12px;
  color: white;
  text-transform: uppercase;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  behavior: url(border-radius.htc);
}
.continue-input:hover {
  background-color: #f6bd43;
  border-color: #f6bd43;
}
.avia {
  background-image: url(../images/plane.png);
  background-repeat: no-repeat;
  background-position: 12%;
}
.tickets {
  background-image: url(../images/train.png);
  background-repeat: no-repeat;
  background-position: 8% 8px;
}
.rooms {
  background-image: url(../images/bed.png);
  background-repeat: no-repeat;
  background-position: 8%;
  background-position: 10% 9px;
}
.recreation {
  background-image: url(../images/palm.png);
  background-repeat: no-repeat;
  background-position: 12% 9px;
}
.exit {
  background-image: url(../images/exit.png);
  padding-left: 35px !important;
  background-repeat: no-repeat;
  background-position: 31% 10px;
}
/*************** ie8 **************/

.ie8 .check,
.ie9 .check,
.ie10 .check,
.ie11 .check {
  padding-top: 8px;
}
