/*	=	Select */

.slct {
  display: block;
  font-family: 'OpenSansLight';
  font-size: 16px;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #eeeeee;
  background-color: white;
  background-image: url(../images/drop.png);
  background-repeat: no-repeat;
  background-position: 97%;
  width: 285px;
  height: 35px;
  padding-left: 10px;
  padding-top: 7px;
  color: black;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.slct.active {
  border-radius: 3px 3px 0 0;
}
.drop {
  margin: 0;
  padding: 0;
  width: 285px;
  border: 2px solid #eeeeee;
  border-top: none;
  display: none;
  position: absolute;
  background: white;
  border-radius: 0 0 3px 3px;
  z-index: 3;
}
.drop li {
  list-style: none;
  cursor: pointer;
  display: block;
  color: black;
  height: 32px;
  padding-left: 10px;
  padding-top: 7px;
  font-family: 'OpenSansLight';
  font-size: 16px;
}
.drop li:hover {
  background-color: #3c9bd3;
  color: white;
}
.slct-140 {
  width: 140px;
}
.slct-140 + .drop {
  width: 140px;
}
.slct-220 {
  width: 220px;
}
.slct-220 + .drop {
  width: 220px;
}
